.box1{
    padding-top: 0.38rem;
    width: 7.5rem;
    height:2.6rem;
    background-color: #FBFEFF;
    display: flex;
    flex-direction: row;
    position: relative;
    /*justify-content: space-around;*/
}
.box1 .left{
    width: 1.74rem;
    height: 1.74rem;
    background-color: #5bc0de;
    margin-left: 0.24rem;
}
.box1 .left img{
    width: 1.74rem;
    height: 1.74rem;
}
.box1 .right{
    margin-left: 0.27rem;
    width: 3.2rem;
    height: 1.74rem;
    /*background-color: #5bc0de;*/
    font-size: 0.2rem;
}
.box1 .right h4{
    margin-top: 0.18rem;
}
.box1 .right h6{
    margin-top: 0.18rem;
    color: #f0ad4e;
}
.box1 .touch{
    width: 1rem;
    height: 0.5rem;
    position: absolute;
    right: 0.23rem;
    bottom: 0.2rem;
    font-size: 0.2rem;
    display: flex;
    flex-direction: row;
    /*background-color: yellow;*/

}
.box1 .touch>.dian{
    width: 0.1rem;
    height: 0.1rem;
    background-color: #888888;
    margin-top: 0.11rem;
    margin-right: 0.2rem;
    border-radius: 50%;
}

.title{
    /*margin-top: 1rem;*/
    width: 7.5rem;
    height: 1rem;
    font-size: 0.2rem;
    background-color: #FBFEFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1rem;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
    color:#979899;

}
.title2{

    width: 7.5rem;
    height: 0.9rem;
    font-size: 0.2rem;
    background-color: #FBFEFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1rem;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
    color:#979899;
    border-top:0.01rem solid #F6F9FA;
    border-bottom:0.01rem solid #F6F9FA;
}
.title2 .right{
    display: flex;
    flex-direction: row;
}
.title3{

    width: 7.5rem;
    height: 0.9rem;
    font-size: 0.2rem;
    background-color: #FBFEFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1rem;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
    color:#979899;
    border-bottom:0.01rem solid #F6F9FA;
}
.title3 .right{
    display: flex;
    flex-direction: row;
}
.title4{

    width: 7.5rem;
    height: 0.9rem;
    font-size: 0.2rem;
    background-color: #FBFEFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1rem;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
    color:#979899;
    border-bottom:0.01rem solid #F6F9FA;
}
.title4 .right{
    display: flex;
    flex-direction: row;
}
.title5{
    /*padding-top: 0.5rem;*/
    /*padding-bottom: 0.5rem;*/

    color:#979899;
    width: 7.5rem;
    height: 0.9rem;
    font-size: 0.2rem;
    background-color: #FBFEFF;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
    border-bottom:0.01rem solid #F6F9FA;
}
.title5 .left{
    display: flex;
    flex-direction: row;
    line-height: 0.9rem;
}
.title5 .left input{
    margin-left: 0.5rem;
    height: 0.35rem;
    outline: none;
    border: 0 solid #ffffff;
    border-radius: 0.1rem;
    background-color: #FBFEFF;
    margin-top: 0.26rem;
}

.title6{

    width: 7.5rem;
    height: 0.9rem;
    font-size: 0.2rem;
    background-color: #FBFEFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1rem;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
    color:#979899;
    border-bottom:0.01rem solid #F6F9FA;
}
.title7{

    width: 7.5rem;
    height: 1.05rem;
    font-size: 0.2rem;
    background-color: #F1FAFF;
    position: relative;
    padding-left: 0.22rem;
    padding-right: 0.22rem;


    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-around;*/
    /*line-height: 1rem;*/

}
.foot{
    position: fixed;
    bottom: 0;
}
.title7 .left{
    /*float: left;*/
    width: 0.8rem;
    height: 0.35rem;
    position: absolute;
    bottom: 0.3rem;
    left: 0.3rem;
    font-size: 0.2rem;

}
.title7 .left h3{
    color: #8CCEFE;
}
.title7 .shuzi{
    /*float: left;*/
    width: 0.6rem;
    height: 0.35rem;
    position: absolute;
    bottom: 0.3rem;
    left: 1.22rem;
    font-size: 0.22rem;
}
.title7 .shuzi p{
    color: #36A8FE;
}
.title7 .right{
    background-color: #5bc0de;
    width: 3.5rem;
    height: 0.65rem;
    position: absolute;
    bottom: 0.2rem;
    right: 0.36rem;
    text-align: center;
    line-height: 0.65rem;
    font-size: 0.25rem;
    border-radius: 0.3rem;
    box-shadow: 0px 4px 11px -1px rgba(59, 172, 254, 0.43);


}
.title7 .right h3{
    color: #ffffff;
}

.title8{

    width: 7.5rem;
    height: 0.9rem;
    font-size: 0.2rem;
    background-color: #FBFEFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1rem;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
    color:#979899;
    border-bottom:0.01rem solid #F6F9FA;
}
.title8 .right{
    display: flex;
    flex-direction: row;
}