header {
    width: 100%;
    height: 1rem;
    background: #fbfeff;
    box-shadow: 0 0.05rem 0.1rem rgba(41, 167, 255, 0.13);
    padding: 0 0.24rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
}

header p {
    /*display: block;*/
    font-size: 0.38rem;
    color: #4ebbfe;
    text-align: center;
    /*line-height: 1rem;*/
}

header a {
    text-align: center;
    display: block;
    color: #36a8fe;
}

/*顶部结束*/
.title {
    width: 100%;
    height: 0.8rem;
    background-color: rgb(59, 172, 254);
    margin-top: 1rem;
    box-shadow: 0 0.04rem 0.02rem rgba(41, 167, 255, 0.13);
}

.title .container {
    display: flex;
    padding-left: 0.28rem;
    padding-right: 0.28rem;
    align-items: center;
}

.title .container .spot {
    width: 0.16rem;
    height: 0.08rem;
    background-color: white;
    border-radius: 0.04rem;
    margin-right: 0.11rem;
}

.title .container p {
    font-size: 0.38rem;
    color: white;
    line-height: 0.8rem;
}

.title .container .booking {
    font-size: 0.26rem;
    color: #bae6ff;
    margin-left: 4rem;
}

.icon-gengduo {
    color: white;
    margin-left: 0.11rem;
}

.detali {
    display: flex;
    margin-top: 0.44rem;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
}

.detali .left {
    width: 1.74rem;
    height: 1.74rem;
    border-radius: 0.1rem;
    /*background-color: #ffffff;*/
    box-shadow: 0 0.01rem 0.01rem rgba(223, 223, 223, 0.43);
    position: relative;
}

.detali .left img {
    display: block;
    width: 100%;
    height: 100%;

}

.detali .right {
    margin-left: 0.27rem;
}

.detali .right .row {
    display: flex;
    margin-top: 0.23rem;
}

.detali .right .row1 {
    margin-top: 0.16rem;
}

.detali .right .row2 {
    margin-top: 0.46rem;
    position: relative;
}

.detali .right .row2 .spot {
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 0.03rem;
    background-color: #36d681;
    box-shadow: 0 0.02rem 0.01rem rgba(54, 214, 129, 0.43);
    position: absolute;
    right: 0.13rem;
    top: 0.12rem;
}

.detali .right .row2 .icon-Group- {
    width: 0.11rem;
    height: 0.11rem;
    font-size: 0.24rem;
    color: #8a8c8d;
    position: absolute;
    right: 0;

}

.detali .right .row .dot {
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    border-radius: 0.03rem;
    box-shadow: 0 0.02rem 0.01rem rgba(68, 181, 255, 0.43);
    margin-top: 0.17rem;
    margin-right: 0.1rem;
}

.detali .right p {
    font-size: 0.3rem;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

.detali .right .row .one {
    font-size: 0.26rem;
    color: #36a8fe;
    font-weight: bold;
}

.detali .right .row .two {
    font-size: 0.22rem;
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    /*opacity: 0.3;*/
}

.detali .right .row .three {
    font-size: 0.26rem;
    color: #fbb548;
}

.container-b {
    margin-top: 0.76rem;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    background-color: white;
}

.shadow {
    box-shadow: 0.02rem -0.02rem 0.4rem rgba(223, 223, 223, 0.43);
}

.container-b .rowone {
    display: flex;
    line-height: 0.87rem;
    align-items: center;
    padding-left: 0.29rem;
    border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1);
}

.container-b .rowone .dot {
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 0.03rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.02rem rgba(68, 181, 255, 0.43);
    margin-right: 0.22rem;
}

.container-b .rowone p {
    font-size: 0.24rem;
    color: rgba(0, 0, 0, 0.4);
}

.container-b .rowone .door {
    color: #8a8c8d;
    margin-left: 0.22rem;
}

.container-b .rowone .way {
    width: 1.2rem;
}

.container-dian {
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    margin-top: 0.24rem;
}

.shadow2 {
    box-shadow: 0.02rem -0.02rem 0.4rem rgba(223, 223, 223, 0.43);
}

.container-dian .icon {
    display: flex;
    padding-left: 0.32rem;
    padding-top: 0.2rem;
    border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0.2rem;
}

.container-dian .icon .one {
    width: 0.5rem;
    height: 0.5rem;
    /*background-color: #2b542c;*/
}

.container-dian .icon .one img {
    display: block;
    width: 100%;
    height: 100%;
}

.container-dian .icon .team {
    width: 3.3rem;
    font-size: 0.24rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #3aa9fb;
    margin-left: 0.23rem;
    line-height: 0.48rem;
}

.container-dian .icon .two {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.3rem;
    border: 0.02rem solid #46b7f8;
    margin-left: 1.07rem;
}

.container-dian .icon .two .icon-wode {
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.22rem;
    color: #3aaafb;
}

.container-dian .icon .three {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.3rem;
    border: 0.02rem solid #46b7f8;
    margin-left: 0.35rem;
}

.container-dian .icon .three .icon-dianhua {
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.22rem;
    color: #3aaafb;
}

.container-dian .tousu {
    display: flex;
    padding-left: 0.32rem;
    padding-top: 0.3rem;
    padding-bottom: 0.33rem;
    align-items: center;
}

.container-dian .tousu .dot {
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 0.03rem;
    background-color: rgb(68, 181, 255);
    box-shadow: 0 0.02rem 0.01rem rgba(68, 181, 255, 0.43);
    margin-right: 0.22rem;
}

.container-dian .tousu p {
    font-size: 0.24rem;
    color: #8a8c8d;
}

.container-bottom {
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    margin-top: 0.24rem;
    margin-bottom: 1.15rem;
}

.shadow3 {
    box-shadow: 0.02rem -0.02rem 0.4rem rgba(223, 223, 223, 0.43);
}

.container-bottom .number {
    display: flex;
    padding-left: 0.32rem;
    padding-top: 0.3rem;
    padding-bottom: 0.33rem;
    align-items: center;
    border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1);
}

.container-bottom .number .dot {
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 0.03rem;
    background-color: rgb(68, 181, 255);
    box-shadow: 0 0.02rem 0.01rem rgba(68, 181, 255, 0.43);
    margin-right: 0.22rem;
}

.container-bottom .number p {
    font-size: 0.24rem;
    color: #8a8c8d;
}

footer {
    width: 100%;
    height: 1.15rem;
    display: flex;
    padding-right: 0.24rem;
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
    background-color: white;
}

footer .cannel {
    width: 1.96rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    background-color: rgba(59, 172, 254, 0.1);
    color: #3bacfe;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.6rem;
    margin-right: 0.29rem;
}

footer .pay {
    width: 2.69rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    background-image: -webkit-linear-gradient(top, rgb(55, 224, 111), rgb(49, 214, 154) 90%);
    box-shadow: 0 0.02rem 0.2rem 0.01rem rgba(55, 223, 116, 0.75);
    color: white;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.6rem;
}

.hao {
    font-size: 0.24rem;
    color: #8a8c8d;
    margin-left: 3.2rem;
}

.sj {
    font-size: 0.24rem;
    color: #8a8c8d;
    margin-left: 2.8rem;
}