.box{
	width: 100%;
	padding: 0 0.17rem;
	position: absolute;
	bottom: 0;

}
.box .header{
	width: 100%;
	height: 0.88rem;
	position: relative;
}
.box .header h1{
	text-align: center;
	font-size: 0.2rem;
}
.box .header h1 span{
	color: #41b2fc;
}
.box .header .icon{
	width: 0.24rem;
	height: 0.24rem;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0.17rem;
	margin: 0 auto;
}
.box ul li{
	width: 100%;
	height: 0.88rem;
	border-bottom: 0.04rem solid #FAFAFA;
	padding: 0.3rem 0;
}
.box ul li .dian{
	width: 0.05rem;
	height: 0.05rem;
	background: #44b5ff;
	border-radius: 50%;
	box-shadow: 0px 4px 24px -1px rgba(59, 172, 254, 0.43);
	float: left;
	margin-top: 0.2rem;
}
.box ul li h1{
	font-size: 0.24rem;
	color: #8a8c8d;
	display: block;
	float: left;
	margin-left: 0.1rem;
}
.box .close{
	width: 100%;
	height: 1.76rem;
	position: relative;
}
.box .close .close_1{
	width: 4.54rem;
	height: 0.6rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.box .close .close_1 span{
	width: 4.54rem;
	height: 0.6rem;
	font-size: 0.2rem;
	text-align: center;
	line-height: 0.6rem;
	color: white;
	box-shadow: 0px 4px 24px -1px rgba(72, 213, 112, 0.52);
    border-radius: 0.5rem;
    background: linear-gradient(to right , rgb(47,212,187) ,rgb(45,222,87));
    float: left;
}