header{
    width:100%;
    height: 1rem;
    background:#fff;
    box-shadow: 0 0.05rem 0.1rem rgba(41,167,255,0.13);
    padding:0 0.24rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0;
    left: 0;
}
header p{
    /*display: block;*/
    font-size: 0.38rem;
    color: #4ebbfe;
    text-align: center;
    /*line-height: 1rem;*/
}
header a{
    text-align: center;
    display: block;
    color: #36a8fe;
}


/*弹框*/
.box{
    width: 100%;
    padding: 0.2rem 0.17rem;
    position: absolute;
    bottom: 0;
    box-shadow: 0px -417px 33px 503px rgba(0, 0, 0, 0.43);
    display: none;
    z-index: 15;
    background: white;

}
.box .header{
    width: 100%;
    height: 0.88rem;
    position: relative;
}
.box .header h1{
    text-align: center;
    font-size: 0.2rem;
}
.box .header h1 span{
    color: #41b2fc;
}
.box .header .icon{
    width: 0.34rem;
    height: 0.34rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.17rem;
    margin: 0 auto;
    color: #d1dde6;

}

.box ul li{
    width: 100%;
    height: 0.88rem;
    border-bottom: 0.04rem solid #FAFAFA;
    padding: 0.3rem 0;
}
.box ul li .dian{
    width: 0.05rem;
    height: 0.05rem;
    background: #44b5ff;
    border-radius: 50%;
    box-shadow: 0px 4px 24px -1px rgba(59, 172, 254, 0.43);
    float: left;
    margin-top: 0.2rem;
}
.box ul li h1{
    font-size: 0.24rem;
    color: #8a8c8d;
    display: block;
    float: left;
    margin-left: 0.1rem;
}
.box ul li .xuan{
    width: 0.23rem;
    height: 0.23rem;
    border:0.08rem solid #3BB1FF;
    float: right;
    border-radius: 0.2rem;
    margin-right: 0.15rem;
    display: none;
}
.box ul li .hot{
    display: block;
}
.box .close{
    width: 100%;
    height: 1.76rem;
    position: relative;
}
.box .close .close_1{
    width: 4.54rem;
    height: 0.6rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.box .close .close_1 span{
    width: 4.54rem;
    height: 0.6rem;
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.6rem;
    color: white;
    box-shadow: 0px 4px 24px -1px rgba(72, 213, 112, 0.52);
    border-radius: 0.5rem;
    background: linear-gradient(to right , rgb(47,212,187) ,rgb(45,222,87));
    float: left;
}
/*顶部结束*/
.box1{
    padding-top: 0.38rem;
    width: 7.5rem;
    height:2.6rem;
    background-color: #FBFEFF;
    display: flex;
    flex-direction: row;
    position: relative;
    /*border-bottom:0.01rem solid #F6F9FA;*/
    margin-top: 1rem;
    /*justify-content: space-around;*/
}
.box1 .left{
    width: 1.74rem;
    height: 1.74rem;
    background-color: #5bc0de;
    margin-left: 0.24rem;
}
.box1 .left img{
    width: 1.74rem;
    height: 1.74rem;
}
.box1 .right{
    margin-left: 0.27rem;
    width: 3.2rem;
    height: 1.74rem;
    /*background-color: #5bc0de;*/
    font-size: 0.2rem;
}
.box1 .right h4{
    /*margin-top: 0.12rem;*/
}
.box1 .right .bao{
    display: flex;
    flex-direction: row;
    margin-top: 0.1rem;
}
.box1 .right h6{
    /*margin-top: 0.18rem;*/
    color: #939596;
}
.box1 .touch{
    width: 1.82rem;
    height: 0.5rem;
    position: absolute;
    right: 0.23rem;
    bottom: -0.5rem;
    font-size: 0.24rem;
    display: flex;
    flex-direction: row;
    color: #FCBC43;
}
.box1 .hezi{
    font-size: 0.24rem;
    /*width: 0.5rem;*/
    height: 0.5rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0.5rem;
    bottom: 0.42rem;
}
.dian1{
    width: 0.1rem;
    height: 0.1rem;
    background: #4CB7FF;
    border-radius: 50%;
    box-shadow: 0 0.02rem 0.1rem 0.03rem rgba(55,206,154,0.2);
    margin-top: 0.1rem;
    margin-right: 0.1rem;
}
.dian2{
    width: 0.1rem;
    height: 0.1rem;
    background: #4CB7FF;
    border-radius: 50%;
    box-shadow: 0 0.02rem 0.1rem 0.03rem rgba(55,206,154,0.2);
    margin-top: 0.13rem;
    margin-right: 0.1rem;
}
.title{
    /*margin-top: 1rem;*/
    width: 7.5rem;
    height: 1rem;
    font-size: 0.2rem;
    background-color: #FBFEFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1rem;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
    color:#979899;
}
.title2{

    width: 7.5rem;
    height: 1.5rem;
    font-size: 0.2rem;
    background-color: #FBFEFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2.0rem;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
    color:#979899;
    border-bottom:0.01rem solid #F6F9FA;
}
.title2 .right{
    display: flex;
    flex-direction: row;
}
.title2 .left{
    display: flex;
    flex-direction: row;
}
.title5{
    /*padding-top: 0.5rem;*/
    /*padding-bottom: 0.5rem;*/
    position: relative;
    color:#979899;
}
.title5 .top .left{
    display: flex;
    flex-direction: row;
}
.title5 .finsh .left{
    display: flex;
    flex-direction: row;
}
.title5 .top{

    width: 7.5rem;
    height: 0.9rem;
    font-size: 0.2rem;
    background-color: #FBFEFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1rem;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
}
.title5 .box-1{
    /*width: 1rem;*/
    /*height: 0.9rem;*/
    /*background-color: #FBFEFF;*/
    position: absolute;
    left: 0.23rem;
    top: 3.2rem;
    /*box-shadow: 0px 4px 11px -1px rgba(55, 223, 116, 0.75);*/
}
.title5 .box-1 img{
    width: 1.01rem;
    height: 1.01rem;
}
.title5 input{
    width: 7rem;
    height: 1.27rem;
    position: absolute;
    left: 0.23rem;
    top: 1.2rem;
    background-color: #F1FAFF;
    outline: none;
    border: 0 solid #ffffff;
    border-radius: 0.1rem;
    /*color: #D4E0E7;*/
}
.title5 .jiage{
    font-size: 0.24rem;
    position: absolute;
    left: 0.3rem;
    top: 0.7rem;
    z-index: 9;
    display: flex;
    flex-direction: row;
    color: #FBC868;
}
.title5 .finsh{

    width: 7.5rem;
    height: 0.9rem;
    font-size: 0.2rem;
    background-color: #FBFEFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1rem;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
    margin-top: 1.5rem;
    /*border-bottom:0.01rem solid #F6F9FA;*/
}
.title6{

    width: 7.5rem;
    height: 0.9rem;
    font-size: 0.2rem;
    background-color: #FBFEFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1rem;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
    color:#979899;
    border-bottom:0.01rem solid #F6F9FA;
}
.title6 .left{
    display: flex;
    flex-direction: row;
}
.title7{

    width: 7.5rem;
    height: 2rem;
    font-size: 0.2rem;
    /*background-color: #F1FAFF;*/
    position: relative;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-around;*/
    /*line-height: 1rem;*/

}
body{
    background-color: #FBFEFF;
}

.title7 .right{
    background-color: #5bc0de;
    width: 4.54rem;
    height: 0.6rem;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    top: 0;
    left: 0;
    margin: auto;
    text-align: center;
    line-height: 0.65rem;
    font-size: 0.25rem;
    border-radius: 0.3rem;
    box-shadow: 0rem 4rem 11rem -1rem rgba(59, 172, 254, 0.43);


}
.title7 .right h3{
    color: #ffffff;
}
.title8{
    background-color: #F6F9FA;
    width: 7.5rem;
    height: 0.01rem;
    position: fixed;
    top:4.1rem;
}
.foot{
    position: fixed;
    bottom: 0;
}
.dian{
    width: 0.1rem;
    height: 0.1rem;
    background: #37ce9a;
    border-radius: 50%;
    box-shadow: 0 0.02rem 0.1rem 0.03rem rgba(55,206,154,0.2);
    margin-right: 0.15rem;
    margin-top: 0.43rem;

}
.iconfont{
    font-size: 0.2rem!important;
}
.bg{
    width: 7.5rem;
    height: 13.34rem;
    position: fixed;
    top: 0;
    background-color: rgba(100,100,100,0.5);
    display: none;
    z-index: 1;
}
.tan{
    width: 7.5rem;
    height: 4.92rem;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: none;
}
.tan .tou{
    width: 7.5rem;
    height: 0.85rem;
    /*background-color: yellow;*/
    font-size:0.22rem;
    line-height: 0.85rem;
    text-align: center;
    color: #3BB1FF;
}
.tan .tou .icon-Group-{
    font-size: 0.5rem;
    position: absolute;
    top:0.08rem;
    right: 0.2rem;
    color: #D0DCE5;
}
.tan .tou2{
    width: 7.5rem;
    height: 0.85rem;
    /*background-color: red;*/
    font-size:0.22rem;
    line-height: 0.85rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
    border-bottom:0.01rem solid #F6F9FA;
    border-top:0.01rem solid #F6F9FA;
    color: #8A8C8D;

}
.tan .tou2 .icon-danxuanxuanzhong{
    color: #3BB1FF;
    font-size: 0.4rem;
}
.tan .tou3{
    width: 7.5rem;
    height: 0.85rem;
    /*background-color: red;*/
    font-size:0.22rem;
    line-height: 0.85rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
    border-bottom:0.01rem solid #F6F9FA;
    color: #8A8C8D;
}
.tan .tou3 .icon-danxuanxuanzhong{
    color: #3BB1FF;
    font-size: 0.4rem;
    display: none;
}
.tan .tou4{
    width: 7.5rem;
    height: 0.85rem;
    /*background-color: red;*/
    font-size:0.22rem;
    line-height: 0.85rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0.22rem;
    padding-right: 0.22rem;
    border-bottom:0.01rem solid #F6F9FA;
    color: #8A8C8D;
}
.tan .tou4 .icon-danxuanxuanzhong{
    color: #3BB1FF;
    font-size: 0.4rem;
    display: none;
}
.tan .tou5 {
    width: 4.54rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    box-shadow: 0px 4px 11px -1px rgba(55, 223, 116, 0.75);
    position: absolute;
    bottom: 0.56rem;
    right: 1.46rem;
    background-color: rgba(49, 214, 154, 0.9);
    font-size: 0.3rem;
    color: #FFFFFF;
    text-align: center;
    line-height: 0.6rem;
}



