html,body{
    background: #fbfeff;
}
header{
    width:100%;
    height: 1rem;
    background:#fbfeff;
    box-shadow: 0 0.05rem 0.5rem 0.1rem rgba(41,167,255,0.13);
    padding:0 0.24rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top:0;
    left: 0;
    padding:0 0.24rem;
}
header p{
    display: block;
    font-size: 0.38rem;
    line-height: 0.9rem;
    color: #4ebbfe;
    line-height: 1rem;
}
header i{
    font-size:0.38rem ;
    color: #36a8fe;
    line-height: 1rem;
}
/*顶部结束*/




main{
    padding:0 1rem;
    margin-top: 3.3rem;
}
main .title{
    padding:0.2rem 0;
}
main form{

}
main form input{
    padding:0.2rem 0;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 0.01rem solid #f3f6f7;
    background-color: inherit;
}
main form input::-webkit-input-placeholder{
    font-size: 0.2rem;
    color: #d6d8d9;
}
main form .phone{
    padding-left: 1.25rem;
    background-image: url("../img/index/phone.png");
    background-repeat: no-repeat;
    background-position: left center;
}
main form .user{
    padding-left: 0.65rem;
    background-image: url("../img/index/user.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 0.5rem 0.5rem;
}
main form .address{
    padding-left: 0.65rem;
    background-image: url("../img/index/address (1).png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 0.4rem 0.5rem;
}
main form .again{
    padding-left: 0.65rem;
    background-image: url("../img/index/again.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 0.5rem 0.5rem;
}
main form button{
    width: 3.85rem;
    height: 0.5rem;
    background:#e7f6ff ;
    border-radius: 0.25rem;
    outline: none;
    border: none;
    margin: 0.4rem 0.7rem;
    color: #8acefe;
    font-size: 0.2rem;
}
main .bottom img{
    width: 0.25rem;
    height: 0.25rem;
    background: #e7f6ff;
    margin-top: 0.07rem;
    margin-right: 0.1rem;
}
main .bottom{
    display: flex;
}